
# BEGIN WordPress
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteRule ^index\.php$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.php [L]
</IfModule>
<Files ~ "\.(mov|mp4|m4v|flv|f4v)$">
  Satisfy any
  Allow from all
</Files>
<Files wp-login.php>
  Order deny,allow
  Deny from all
  Allow from 192.168.11.4
</Files>
# END WordPress