.awamori-logo{
    width: 100px;
    height: 60px;

}

button:focus {
    outline: none!important;
}

a {
    text-decoration: none!important;
}

body {
    width: 100%;
}


/* ハンバーガーメニューのくらす */
.navbar-toggler , .navbar-toggler-icon{
    outline: none;
}

.navbar-dark .navbar-toggler {
    position: relative;
    width: 100px;
    height: 80px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    right: 0;
    width: 60px;
    height: 40px;
}

.navbar-dark .navbar-toggler:hover {
    transform: scale(1.1);
}

/* .navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(81, 165, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;
    background-size: 70px;
    width: 100px;
    height: 100px;
} */

.navbar-dark .navbar-toggler-icon {
    /* position: absolute;
    top: 0;
    left: 0; */
    display: block;
    width: 30px;
    height: 3px;
    background: rgba(81, 165, 255, 0.5);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    margin: 3px auto;
}

.navbar-dark .navbar-toggler-icon.bar_1 { top: 10px; }
.navbar-dark .navbar-toggler-icon.bar_2 { top: 24px; }
.navbar-dark .navbar-toggler-icon.bar_3 { top: 38px; }

.navbar-dark .navbar-toggler-icon.bar_1.active {
  top: 14px;
  width: 30px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
}

.navbar-dark .navbar-toggler-icon.bar_2.active {
  opacity: 0;
}

.navbar-dark .navbar-toggler-icon.bar_3.active {
  top: 14px;
  width: 30px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  position: absolute;
}

.navbar-nav .nav-link {
    color: rgba(0, 117, 255, 0.5)!important;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.1em;
    text-align:center;
}

.navbar-nav .nav-link:hover {
    transform: scale(1.1);
}


body {
    font-size: 14px;
    font-family: Arial, Verdana;
}

a {
    text-decoration: none;
}

p {
    padding-bottom: 14px;
    margin: 0;
    line-height: 1.8;
}

.container {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 130px;
}


/* header */

aside{
    width:100%;
    position: fixed;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.15);
    z-index: 100;
}


.navbar.navbar-dark.bg-white{
    width: 95%;
    margin: auto;
    justify-content: center;
}
#header {

}

.header{
    width: 80%;
    height: 200px;
    background: #00b2f3;
}


    h1 {
        font-weight: bold;
        font-size: 18px;
        padding: 15px 0;
    }

    .menu {
        background: #00b2f3;
        margin-bottom: 30px;
        font-size: 12px;
        list-style: none;
        overflow: hidden;
        padding: 0;
	height:200px;
    }

        .menu > li {
            float: left;
            width: 150px;
            text-align: center;
        }

        .menu a {
            padding: 10px 0;
            color: #fff;
            display: block;
        }

        .menu a:hover {
            background: #ffc35c;
        }

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

.next-stream {
    margin: 50px auto;
    margin-top: 0px;
    text-align: center;
    margin-top: 0;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

.next-stream .next-stream_date {
    display: inline-block;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.next-stream .next-stream_date:before {
    content: '\FF3C';
    display: inline-block;
    font-size: 24px;
    font-weight: normal;
    position: relative;
    left: -10px;
    top: 3px;
    color: rgb(81, 165, 255);
    -webkit-transform: scaleX(0.8);
    transform: scaleX(0.8);
    z-index: -1;
}

.next-stream .next-stream_date:after {
    content: '\FF0F';
    display: inline-block;
    font-size: 24px;
    font-weight: normal;
    position: relative;
    left: 0px;
    top: 3px;
    color: rgb(81, 165, 255);
    -webkit-transform: scaleX(0.8);
    transform: scaleX(0.8);
    z-index: -1;
}

.next-stream .next-stream_date span {
    /* margin-right: 5px;
    margin-left: 5px; */
    background-color: rgb(81, 165, 255);
    padding: 5px 10px;
    color: #fff;
    border-radius: 3px;
}

/* posts */

.post-meta {
    display: none;
}

#posts {
    float: left;
    width:100%;
    display: flex;
    flex-wrap: wrap;
}

.container.single #posts {
    float: none;
}

.container.main #posts {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

    .post {
        margin-bottom: 30px;
	width: 40%;
        margin: 20px auto;
    }

    .container.main .post {
        margin-bottom: 30px;
        margin: 0;
        width: 100%;
    }

        .post-header {
            width: 80%;
            margin: 20px auto;
            margin-bottom: 70px;
        }

        .post-header span {
            font-size: 12px;
            font-weight: 800;
        }

            .post-header h2 {
                font-size: 19px;
                font-weight: bold;
            }

            .post-header h2 a {
                color: #0066c0;
                text-decoration: none;
            }

            .post-header h2 a:hover {
                color: #1a0dab;
            }

            .post-meta {
                font-size: 12px;
                padding: 7px 0;
                color: #555;
            }

            .post-content {
                float: left;
                overflow: hidden;
                width:100%;
            }

            .post-content p {
                font-size: 18px;
            }

            .container.main .post-content {
                width:90%;
                float: none;
                border-radius: 43px;
                margin: auto;
                border: 6px solid white;
            }

            .container.main .post-content:hover {
                border: 6px solid rgb(81, 165, 255);
            }

            .post-content img{
                width:100%;
                border-radius: 43px;
                height: 350px;
                margin-bottom: 20px;
            }

            .container.main .post-content img {
                cursor: pointer;
                margin-bottom: 0;
                border-radius: initial;
            }

            .container.main .post-content img:hover {
                opacity: .8;
            }

            .post-body {
                margin-left: 115px;
            }


.single_title{
    font-size: 28px;
    font-weight: 800;
    font-weight: 800;
}

.single-post{
    width:95%;
    margin:auto;
}

.post-content.single_main ul {
    padding: 0;
}

.post-content.single_main ul li {
    font-size: 18px ;
}

.single-image{
    padding: 0px;
    margin: 31px 0px;
}

.single-image > img{
    border-radius: 36px;
    height: 350px;
    width: 100%;
}
/* navigation */

.navigation {
    overflow: hidden;
    padding: 10px 0;
    font-size: 12px;
    margin-bottom: 15px;
}

.navigation.single {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 80px auto;
}

.navigation.container.footer_nav {
    width: 70%;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .prev {
        float: left;
        width: 200px;
    }

    .next {
        float: right;
        width: 200px;
        text-align: right;
    }

    .navigation.container.footer_nav .prev,
    .navigation.container.footer_nav .next {
        height: 60px;
        border: none;
        border-radius: 30px;
        /* background-color: rgb(81, 165, 255);
        box-shadow: 0 2px 10px 2px rgb(26, 13, 171, 0.25); */
        float: none;
        text-align: center;
        width: 140px;
        margin: auto 10px;
    }

    .navigation.single .prev,
    .navigation.single .next {
        width: 120px;
        height: 60px;
        border: none;
        border-radius: 30px;
        float: none;
        text-align: center;
        margin: auto 20px;
    }

    .navigation.container.footer_nav .prev a,
    .navigation.container.footer_nav .next a {
        color: #fff;
        font-size: 13px;
        font-weight: 800;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        background-color: rgb(81, 165, 255);
        box-shadow: 0 2px 10px 2px rgb(26, 13, 171, 0.25);
    }

    .navigation.single .prev a,
    .navigation.single .next a {
        background-color: rgb(81, 165, 255);
        border: none;
        color: rgb(255, 255, 255);
        font-size: 17px;
        font-weight: 800;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        box-shadow: 0 2px 10px 2px rgb(26, 13, 171, 0.25);
    }

.nav_header_menu {
    position: absolute;
    bottom: -700px;
    width: 100%;
    height: 100%;
    display: none;
    background: rgb(255,255,255);
}

.nav_header_menu .navbar-nav {
    width: 100%;
    height: 100%;
}

.about_nav {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin: 30px auto;
}

.about_nav span {
    font-size: 16px;
    font-weight: 800;
}

/* sidebar */

#sidebar {
    float: right;
    width: 150px;
}

    .widget {
        margin-bottom: 25px;
    }

        .widget h3 {
            font-weight: bold;
            padding-bottom: 7px;
        }

        .widget li {
            line-height: 1.8;
        }
/* footer */

#footer {
    padding: 15px 0;
    font-size: 12px;
    color: #aaa;
    border-top: 1px solid #ccc;

}







.footer_view {
  display: block!important;
  height: 200px!important;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  font-size: 15px;
  background-color: rgb(81, 165, 255);
  z-index: 30;
  margin-top: 100px;
}

.footer_view .footer_info {
  width: 95%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}

.footer_view .footer_info .copy {
  position: relative;
  margin: auto!important;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
}

.footer_view .footer_info .copy img {
  width: 300px;
}

.footer_view .footer_info .copy a img {
  width: 100px;
}

.footer_view .footer_info .copy a img:hover {
  transform: scale(1.1);
}

.footer_info .footer_sub_img img {
  width: 100px;
}

.footer_sub_img {
  position: absolute;
  top: -50px;
  left: 0;
}

.sns {
    font-size: 20px;
    font-weight: bold;
}

.tips{
    display:flex;
    justify-content: space-around;
    width: 85%;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 50px;
}

.tips .facebook_feed {
    width: 50%;
}

.tips .support-title {
    width: 45%;
}

li{
    list-style: none;
}

.support-title p {
    font-size:20px;
    font-weight: bold;
}

.support-title ul {
    padding: 0px;
}

.support-title ul li{
    font-size: 16px;
}

.support-title ul li.support_form_link {
    font-size: 15px;
    text-align: center;
}

.support-title ul li img {
    width: 60%;
    margin: 30px auto;
}


.device div {
    display: none;
}

figure {
    text-align: center;
}

figure iframe {
    border: none;
}

/* シングルページ、snsボタン類管理ボックス */

.contact_form_box.tb {
    display: none;
    text-align: center;
}

.main_information {
    margin: 30px auto;
    height: 1100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.main_information h2 {
    font-size: 25px;
    font-weight: 800;
}

.main_information p {
    font-size: 15px;
}

.main_information .share_box {
    width : 100%;
}

.main_information.single .share_box,
.main_information.single .google_form {
    width : 95%;
}

.google_form .contact_form_box {
    margin: auto;
    text-align: center;
}

.main_information .google_form iframe {
    margin: auto;
}





.container.single #posts_page {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

#posts_page .single-post {
    width: 95%;
}

.single_title.page ,
.user_info h2 {
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 40px;
}

.single_title.page .post-content.contents {
    margin: 60px auto;
    margin-top: 0;
}

.post-content.contents {
    float: none;
    margin: 60px auto;
    margin-top: 0;
}

.post-content.contents p {
    font-size: 17px;
}

.box_info {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box_info .profile {
    width: 30%;
    text-align: center;
}

.user_info .box_info .profile.tb {
    width: 75%;
    margin: 30px auto ;
}

.box_info .profile img {
    width: 150px;
    height: 150px;
    border: none;
    border-radius: 100px;
}

.box_info .profile div span {
    font-size: 18px;
    font-weight: 800;
}

.box_info .profile div p {
    padding-top: 5px;
}

.box_info .profile div .something {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.box_info .profile div .something span.something_title {
    font-size: 16px;
    font-weight: 500;
}

.box_info .profile div .something span.item {
    font-size: 15px!important;
    font-weight: 500!important;
}

.box_info .profile div .sns_account {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box_info .profile div .sns_account a {
    color: #333;
    font-size: 15px;
    font-weight: 800;
}

.box_info .profile div .sns_account a.twitter {
    color: #55acee;
}

.box_info .profile div .sns_account a.facebook {
    color :#3B5998 ;
}

.box_info .profile div .sns_account a.instagram {
    color: #3f729b;
}

.box_info .profile div .sns_account a:hover {
    opacity: .7;
}

.support_form_link {
    font-weight: 800;
}



.cast {
    text-align: center;
}

.cast h3 {
    font-size: 18px;
    font-weight: 800;
}

.cast div ul {
    padding: 0;
}

.cast div ul li a {
    color: rgba(0, 117, 255, 0.5)!important;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.cast div ul li a:hover {
    color: rgba(0, 117, 255)!important;
}

.navbar-brand img:hover {
    transform: scale(1.1);
}